{% extends 'front/base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<div class="container">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 id="detail-title">Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm,{'attr': {'class': 'form-purple'} }) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-purple btn-arial my-2">Envoyer e-mail de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>    
{% endblock %}
