{% extends 'back/base.html.twig' %}

{% block title %}
Ajouter un Utilisateur
{% endblock %}
{% block body %}
    <h1 class="text-center my-4" id="detail-title">Créer un nouvel Utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}"  class="btn btn-purple mx-2 my-2 col-4">Retour à la liste</a>
{% endblock %}
