<form method="post" action="{{ path('admin_comment_media_delete', {'id': commentMedia.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce commentaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentMedia.id) }}">
    <button class="btn btn-purple my-2 col-4">Supprimer</button>
</form>
