{# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="m-3 flash-notice flash-style">
                {{ message }}
            </div>
        {% endfor %}

        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class=" m-3 flash-{{ label }} flash-style">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}