<form method="post" action="{{ path('admin_item_category_delete', {'id': item_category.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item_category.id) }}">
    <button class="btn btn-purple my-2 col-4">Supprimer</button>
</form>

