{% extends "front/base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container text-center pt-3">
<img src="{{ asset('assets/images/404.png') }}" class="card-img" alt="404" style="width: 75%"/>

<a href="{{ path('home') }}"><h1 class="card-purple">Retourner à l'accueil</h1></a>
</div>
{% endblock %}